body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header{
  text-align: center;
  background-color: gray;
  color: blue;
}

main{

margin-left: 20px;

}
main #container-weather-card{
  margin-left:10% ;
  border: 2px solid rgb(135, 135, 246);
  border-radius: 10px;
  width: 80%;
 display: flex;
 flex-flow: row wrap;
 justify-content: center;

}
main .container-weather-card .weatherData{
  width: fit-content;
    display:inline-block;
   margin: 10px;
  }
main .mapComponent{
 width: 30%;
height: 500px;
margin: auto;
display: block;
}

 
 main .contanire-movies-card{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

 }
main .contanire-movies-card .movies-card{
  width: 30%;
display: inline-block;
margin-left: 5px;
margin-top: 30px;
align-content: space-around;
}

footer{
  text-align: center;
  background-color: gray;
  color: blue;
  position: static;
  bottom: 500px; ;
}